.leaflet-control-slidemenu{
    cursor: pointer;
}

.leaflet-menu{
    margin:10px auto;  
    position: absolute;
    background-color: rgba(255, 255, 255, 255);
    overflow: hidden;
    cursor: default;
    z-index: 9999;
    box-shadow: #222 -1px -1px 20px 0px;
    border-radius: 25px;
    height:50%
}

.leaflet-menu-contents {
  
    
    padding: 10px;

}

.leaflet-menu::-webkit-scrollbar{
    width: 10px;
    height: px;
    background: #f2f2f2;
    align-items: flex-end;

    
  
    
}

.leaflet-menu::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background: #777; 
   
}

.leaflet-menu-close-button{
    margin-right: 0px;
    background-color: transparent;

    border: none;
    font-size: 50pt;
    color: #777;
    cursor: pointer;
}

.leaflet-menu-close-button:hover{
    color: #0443a8;
}